.about {
  background: linear-gradient(180deg, #0f1b33, #050c63);
  height: 100%;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin: auto;

    .imageContainer {
      img {
        width: 300px;
      }
    }

    .textContainer {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
